body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 230px;
}
#logo {
    padding-bottom: 30px;
}
#click {
    padding-top: 200px;
    padding-bottom: 30px;
}
#about-us{
    text-align: center;
    padding: 60px;
}
#about-us h1{
    padding-bottom: 13px;
}
#services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding:70px;
}
#offers{
    text-align: center;
    display: inline;
}
.portfolio h2{ 
    text-align: center;
    padding-top:40px;
      
}