body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 230px;
}
#logo {
    padding-bottom: 30px;
}
#click {
    padding-top: 200px;
    padding-bottom: 30px;
}
#about-us{
    text-align: center;
}
#services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding:100px;
}